<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let inst of instrumentos">
      <div class="card">
        <img class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ inst.nombre }} {{ inst.marca }}</h5>
          <p class="card-text">Precio: ${{ inst.precio }} COP</p>
          <button type="button" class="btn btn-outline-primary" [routerLink]="['/producto', inst.id]">Ver más...</button>
        </div>
      </div>
    </div>
</div>
