<footer class="container my-3 text-center">
    <hr>
    <img src="assets/images/spring.png" class="img-fluid" alt="Spring framework">
    <img src="assets/images/angular.png" class="img-fluid" alt="Amgular">
    <p>
        Powered by <a href="https://projects.spring.io/spring-boot">Spring
            Boot</a> & <a href="https://angular.io/">Angular</a>
    </p>
    <p>
        El backEnd de este proyecto fue desarrollado en Eclipse IDE + Spring Plugins (STS
        Spring Tools) <br> El frontEnd fue desarrollado en VSCode + Angular, ambos realizados por <br> &copy; {{
        developer }} {{ currentYear}}, 
        Todos los derechos reservados. Términos de uso y privacidad.<br>
    </p>
</footer>